:root {
  --font-size-base: 24px;

  --indent-xs: 4px;
  --indent-s: 8px;
  --indent-m: 16px;
  --indent-l: 24px;
  --indent-xl: 36px;
  --indent-xxl: 48px;

  --max-width-limit: 1400px;
  --bg-color: #ececec;
  --footer-item-txt-color: #929292;
  --footer-ownership-txt-color: #929292;

  --icon-cross-size: 24px;

  --icon-size-s: 18px;
  --icon-size-m: 24px;
  --icon-size-l: 36px;
  --icon-size-xl: 48px;

  --shadow-modal: 15px 15px 15px 5px #717070;

  --shadow-block: #282c34 15px 15px 10px 5px;
  --shadow-elem: 0 0 10px 5px rgba(221, 221, 221, 1);
  --shadow-item: #282c34 15px 15px 10px 5px;
}

/* sm */
@media (min-width: 600px) {
  :root {
  }
}

/* md */
@media (min-width: 960px) {
  :root {
  }
}

/* lg */
@media (min-width: 1280px) {
  :root {
  }
}

/* xl */
@media (min-width: 1920px) {
  :root {
  }
}
