:root {
  /* Отступ слева 'красной строки' */
  --first-line-indent: 20px;
}

.g-splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

/* Делает два противоположных уголка тенями */
.g-corner2 {
  box-shadow: -20px 20px 0 -17px #eee, 20px -20px 0 -17px #eee, 20px 20px 0 -20px #592385, 0 0 0 2px #592385;
}

/* Для элементов */
.g-first-line-indent {
  margin-left: var(--first-line-indent);
}

.g-link-clear-style {
  color: inherit;
  size: inherit;
}
