/* Пункт меню в быстрых контактах (например "Написать в whatsapp") */
.f-quick-contacts {
  font-size: 20px;
  font-weight: bold;
}

/* Огравление в header - шапка сайта (например: "Грузовые перевозки") */
.f-header-title {
  font-size: 20px;
  font-weight: bold;
}

/* Главный текст внутри блока */
.f-block-paragraph {
  font-size: 16px;
  color: #282c34;
}
