:root {
  /* Поля страницы */
  --i-padding-side: var(--indent-l);

  /* Вертикальный/боковой отступы между блоками */
  --i-block-top: var(--indent-xxl);
  --i-block-side: var(--indent-xxl);

  /* Вертикальный/боковой отступы между модулями */
  --i-mod-top: var(--indent-l);
  --i-mod-side: var(--indent-l);

  /* Вертикальный/боковой отступы между элементами */
  --i-elem-top: var(--indent-m);
  --i-elem-side: var(--indent-m);
}

/* Верхний отступ между блоками */
.i-block-top {
  margin-top: var(--indent-xxl);
}

/* Верхний отступ между модулями */
.i-mod-top {
  margin-top: var(--indent-xl);
}

/* Верхний отступ между элементами */
.i-elem-top {
  margin-top: var(--indent-m);
}

/* Верхний отступ после постера */
.i-after-poster-bottom {
  margin-bottom: var(--indent-l);
}

/* Поля страницы (не действует на header и footer) */
.i-page-both {
  margin-left: var(--i-padding-side);
  margin-right: var(--i-padding-side);
}
