body {
  background-color: var(--bg-color);
}

#root {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}

header {
}

main {
  background-color: blue;
  flex-grow: 1;
}

footer {
  padding: var(--indent-l);
}


#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}
