.preview {

  /*border: 2px gold dashed;*/
  min-width: 100px;
  height: 210px;
  margin: 10px;
  box-shadow: var(--shadow-item);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  flex-grow: 1;
  padding-bottom: var(--indent-s);
}

.preview:hover .img {
  opacity: 1;
}

.img {
  min-width: 50px;
  min-height: 50px;
  opacity: 0.8;
  transition: opacity 300ms;
  border: 2px gold dot-dash;
  outline: chocolate 2px dot-dot-dash;
}

.model {
  font-size: var(--additional-font-size);
}

.note {
  margin-top: var(--indent-s);
}

.year {
  font-size: var(--additional-font-size);
  color: var(--additional-font-color)
}
