.header {
  height: 50px;
  padding: var(--indent-s) var(--indent-s);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnHum {
  width: 36px;
  height: 36px;
}

.btnMsg {
  background-image: url(/public/icons/whatsapp.svg);
  background-size: contain;
  background-repeat: no-repeat;

  cursor: pointer;
}

/* sm */
@media (min-width: 576px) {
}

/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 992px) {
}

/* xl */
@media (min-width: 1200px) {
}
