.poster {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: var(--shadow-elem);
  margin-left: calc(var(--i-padding-both) * -1);
  margin-right: calc(var(--i-padding-both) * -1);
}

.bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  opacity: .3;
  height: 100%;
  width: 100%;
}

.title {
  position: relative;
  text-align: center;
}
