
.modal {
  background: none;
}

.overlay {
  background-color: #999;
  z-index: 100;
  opacity: 0.95;
}

.content {
  position: relative;
  pointer-events: auto;
  z-index: 101;
  box-shadow: var(--shadow-modal);
}
